/* Reset some default styles */
body,  label, input, button {
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/banner-slide/Banner-1.jpg);
}
h1{
    padding-bottom: 20px;
}

/* Style for the container */
.container {
    max-width: 400px;
    
   margin: 80px auto;
    padding: 20px;
    text-align: center;
}

/* Style for form labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Style for form inputs */
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style for the submit button */
a {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 100px;
    font-weight: bold;
}

a :hover {
    background-color: #45a049;
}
